*~
\#*#
.#*
*.bak
*.orig
*.swp
.directory
build/
.vscode/
.idea/
*.code-workspace
.vimrc
.editorconfig
doc-kit.conf

# docbook5
xml/generic-entities.ent
xml/network-entities.ent
xml/common_intro_available_doc.xml
xml/common_intro_support.xml
xml/common_intro_convention.xml
xml/common_intro_feedback.xml
xml/common_copyright_gfdl.xml
xml/common_legal.xml
xml/common_license_gfdl1.2.xml
xml/common_copyright_cc.xml

# ascidoc
.gitlab-ci.yml
adoc_postprocess.xsl
LICENSE
Makefile
adoc/about-documentation.adoc
adoc/about-rn.adoc
adoc/abstract.adoc
adoc/attributes-generic.adoc
adoc/legal.adoc
adoc/source-code.adoc

# smartdocs
templates/_DC-article
templates/articles/assembly.asm.xml
templates/concepts/concept.xml
templates/glues/glue-more-info.xml
templates/glues/glue-whats-next.xml
templates/glues/glue.xml
templates/images/example.png
templates/references/reference.xml
templates/snippets/snippet_warning.xml
templates/tasks/task.xml
common/generic-entities.ent
common/network-entities.ent
common/legal.xml
common/license_gfdl1.2.xml
